@font-face {
    font-family: 'Handil Pro';
    src: url('../other_resources/fonts/subset-HandilPro-Medium.woff2') format('woff2'),
        url('../other_resources/fonts/subset-HandilPro-Medium.woff') format('woff');
    font-weight: 500;
    font-style: normal;
}

@font-face {
    font-family: 'Nyght Serif';
    src: url('../other_resources/fonts/NyghtSerif-Regular.woff2') format('woff2'),
        url('../other_resources/fonts/NyghtSerif-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Phlatt Grotesk';
    src: url('../other_resources/fonts/subset-PhlattGrotesk-Regular.woff2') format('woff2'),
        url('../other_resources/fonts/subset-PhlattGrotesk-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
  

* {
    
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


body{
    overflow: auto;
    background-color: #151515;
    background-size: cover;
    background-position: center;
}

.header{
    position:fixed;
    top:0;
    left:0;
    width:100%;
    padding: 20px 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 100;
    background-color: #FF4200;
}

.header img{
    height:10%;
    width:10%;
}

.topbar li{
    list-style: none;
    display: inline;
}

.topbar a{
    position:sticky;
    font-family: 'Handil Pro';
    font-size: 16px;
    color: white;
    font-weight: 200;
    text-decoration: none;
    margin-left: 20px;
    
}

.topbar a::before{
    content: '';
    position: absolute;
    top: 100%;
    left:0;
    width:0%;
    height:2px;
    background-color: white;
    transition: .3s;
}

.topbar a:hover::before{
    width:100%
}

.details{
    text-align: center;
    padding-top: 180px;
    padding-bottom: 10px;
}

.details p{
    font-family: 'Handil Pro';
    margin-bottom: 5px;
    margin-top: 20px;
    color: white;
}
.details h1{
    font-family: 'Nyght Serif';
    color: white;
    font-size: 80px;
}

.details hr{
    border: none;
    border-top: 2px solid #FF4200;
    margin: 20px 50px;
}


.bottom{
    position:relative;
    bottom:0;
    left:0;
    width:100%;
    padding: 30px 20px;
    background-color: #FF4200;
}

.bottom p{
    text-align: right;
    font-family: 'Phlatt Grotesk';
    font-size: 10px;
    color: white;
}

.list{
    padding-top: 20px;
    padding-bottom: 10px; 
}

.list li{
    display: flex;
    align-items: center;
    padding: 20px 10px;
    margin-left: 100px;
}

.list img{
    height: 200px;
    width: 200px;
    margin-right: 50px;
}

.list h2{
    font-family: 'Nyght Serif';
    color: white;
    font-size: 20px;
}

.list h2:hover{
    font-family: 'Nyght Serif';
    color: #FF4200;
    font-size: 23px;
}

.list a{
    text-decoration: none;
}

