@font-face {
    font-family: 'Handil Pro';
    src: url('../other_resources/fonts/subset-HandilPro-Medium.woff2') format('woff2'),
        url('../other_resources/fonts/subset-HandilPro-Medium.woff') format('woff');
    font-weight: 500;
    font-style: normal;
}

@font-face {
    font-family: 'Nyght Serif';
    src: url('../other_resources/fonts/NyghtSerif-Regular.woff2') format('woff2'),
        url('../other_resources/fonts/NyghtSerif-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Phlatt Grotesk';
    src: url('../other_resources/fonts/subset-PhlattGrotesk-Regular.woff2') format('woff2'),
        url('../other_resources/fonts/subset-PhlattGrotesk-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
  

* {
    
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


body{
    overflow: auto;
    background-color: #151515;
    background-size: cover;
    background-position: center;
}

.header{
    position:fixed;
    top:0;
    left:0;
    width:100%;
    padding: 20px 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 100;
    background-color: #151515;
}

.header img{
    height:10%;
    width:10%;
}

.topbar li{
    list-style: none;
    display: inline;
}

.topbar a{
    position:sticky;
    font-family: 'Handil Pro';
    font-size: 16px;
    color: #c4c4c4;
    font-weight: 200;
    text-decoration: none;
    margin-left: 20px;
    
}

.topbar a::before{
    content: '';
    position: absolute;
    top: 100%;
    left:0;
    width:0%;
    height:2px;
    background-color: #FF4200;
    transition: .3s;
}

.topbar a:hover::before{
    width:100%
}

.details{
    text-align: center;
    padding-top: 120px;
    padding-bottom: 50px;
}

.details p{
    font-family: 'Handil Pro';
    margin-bottom: 5px;
    margin-top: 20px;
    color: #c4c4c4;
}

.details #date{
    font-style: italic;
    font-weight: lighter;
}

.details h1{
    font-family: 'Nyght Serif';
    color: white;
}

.details hr{
    border: none;
    border-top: 2px solid #FF4200;
    margin: 20px 50px;
}

.subsection,
.reflist{
    padding-right: 300px;
    padding-left: 300px;
    padding-top: 20px;
}

.reflist{
    margin-bottom: 30px;
}

.reflist a,
.subsection p {
    text-decoration: none;
    color: #c4c4c4;
    font-family: 'Phlatt Grotesk';
    text-align: justify;
    text-indent: 30px;
    margin-top: 10px;
    line-height: 1.5em;
}

.subsection h2, 
.subsection h3,
.reflist h3{
    margin-bottom: 5px;
    margin-top: 5px;
    font-family: 'Nyght Serif';
    color: #c4c4c4;
}


.img{
    text-align: center;
    margin: 10px;
}

.img img{
    max-width: 100%; 
    height: auto;
}

.main-img {
    width: 100%;
    max-width: 100%;
    display: block;
    margin: 0 auto;
}

.main-img img {
    width: 100%;
    height: auto;
}

.bottom{
    position:relative;
    bottom:0;
    left:0;
    width:100%;
    padding: 30px 20px;
    background-color: #FF4200;
}

.bottom p{
    text-align: right;
    font-family: 'Phlatt Grotesk';
    font-size: 10px;
    color: white;
}
@media screen and (max-width: 550px){
    .header {
        background-color:rgb(0,0,0);
    }

    .header img{
        height:50%;
        width: 50%;
    }

    .topbar{
        display:none;
    }
    .logo{
        display: inline-block;
        position: relative;
        margin: auto;
        width: 20%;
        height: 20%;
    }
    .logo img{
        width: 50%;
        height: 50%;
    }
    .topbar{
        display: none;
        position: absolute;
        font-size: 5vw;
        background-color:rgba(0,0,0,0);
        min-width: 300px;
        padding: 10px;
        z-index: 1;
    }
    .topbar a{
        color: lightgoldenrodyellow;
    }
    .header:hover .topbar{
        display: inline-block;
        transition: 1s;
    }
    .header:hover .logo{
        opacity: 0.0001;
        transition: .3s;
    }
    .header:hover .logoselect{
        opacity: 0.00001;
        transition: .3s;
    }

    .details{
        text-align: center;
        padding-top: 120px;
        padding-bottom: 50px;
    }
    
    .details p{
        font-family: 'Handil Pro';
        margin-bottom: 3px;
        margin-top: 20px;
        font-size: 10px;
        color: #c4c4c4;
    }
    
    .details #date{
        font-style: italic;
        font-weight: lighter;
        font-size: 10px;
    }
    
    .details h1{
        font-family: 'Nyght Serif';
        font-size: 20px;
        color: white;
    }
    
    .details hr{
        border: none;
        border-top: 2px solid #FF4200;
        margin: 20px 50px;
    }
    
    .subsection,
    .reflist{
    padding-right: 20px;
    padding-left: 20px;
    padding-top: 10px;
    }

    .bottom{
        position:relative;
        bottom:0;
        left:0;
        width:100%;
        padding: 30px 20px;
        background-color: #FF4200;
    }
    
    .bottom p{
        text-align: right;
        font-family: 'Phlatt Grotesk';
        font-size: 10px;
        color: white;
    }

    .main-img {
        width: 100%;
        max-width: 100%;
        display: block;
        margin: auto;
    }
    
    .main-img img {
        width: 100%;
        height: auto;
    }
    


}
