@font-face {
    font-family: 'Handil Pro';
    src: url('../other_resources/fonts/subset-HandilPro-Medium.woff2') format('woff2'),
        url('../other_resources/fonts/subset-HandilPro-Medium.woff') format('woff');
    font-weight: 500;
    font-style: normal;
}

@font-face {
    font-family: 'Nyght Serif';
    src: url('../other_resources/fonts/NyghtSerif-Regular.woff2') format('woff2'),
        url('../other_resources/fonts/NyghtSerif-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Phlatt Grotesk';
    src: url('../other_resources/fonts/subset-PhlattGrotesk-Regular.woff2') format('woff2'),
        url('../other_resources/fonts/subset-PhlattGrotesk-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
  

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


body{
    min-height:100vh;
    background-color: black;
    background-size: cover;
    background-position: center;
    overflow: hidden;
}

.main-bg{
    position: fixed;
    top:0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1;

}

.main-bg img{
    width:100%;
    height: 100%;
    object-fit: cover;
}

.title{
    position: absolute;
    top: 200px;
    bottom: 50%;
    left: 100px;
}

.title h1{
    margin-bottom: 5px;
    font-family: 'Nyght Serif';
    color: #c4c4c4;
    font-size: 60px;
}

.title h2{
    margin-bottom: 5px;
    font-family: 'Nyght Serif';
    color: #c4c4c4;
    font-size: 20px;
    
}

.title p{
    font-family: 'Handil Pro', sans-serif;
    color:#c4c4c4;
    font-size: 12px;
}

.header{
    position:fixed;
    top:0;
    left:0;
    width:100%;
    padding: 20px 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 100;
}

.header img{
    height:10%;
    width:10%;
}

.topbar li{
    list-style: none;
    display: inline;   
}

.topbar a{
    position:sticky;
    font-family: 'Handil Pro';
    font-size: 16px;
    color: #c4c4c4;
    font-weight: 200;
    text-decoration: none;
    margin-left: 20px;
    
}

.topbar a::before{
    content: '';
    position: absolute;
    top: 100%;
    left:0;
    width:0%;
    height:2px;
    background-color: #FF4200;
    transition: .3s;
}

.topbar a:hover::before{
    width:100%
}


.bottom{
    position:relative;
    bottom:0;
    left:0;
    width:100%;
    padding: 20px 100px;
    display: inline;
    margin-right: 20px;
    justify-content: space-between;
    align-items: center;
    z-index: 100;
}

#image-container {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    display: flex;
    justify-content: center;
}

#image-container img {
    width: 200px; 
    height: 100px;
    margin: 20px;

}


.image-title{
    position: relative;
    margin: 0px, 10px;
    cursor: pointer;
}





.img-txt{
    width:200px;
    height: 100px;
    top: 20px;
    left: 20px;
    position: absolute;
    background: rgba(0,0,0,0.6);
    display: flex;
    justify-content: center;
    opacity: 0.5;
    align-items: center;
    transition: 0.3s;
}

.img-txt p {
    font-family: 'Handil Pro';
    opacity: 0;
    font-size: 15px;
    color: #FF4200;
    padding: 200px 100px;
    text-align: center;
}



.img-txt:hover{
    opacity: 1;
}

.img-txt p:hover{
    opacity: 1;
}
@media screen and (max-width: 550px) {
    .header {
        background-color:rgba(0,0,0,0);
    }

    .header img{
        height:50%;
        width: 50%;
    }

    .topbar{
        display:none;
    }
    .logo{
        display: inline-block;
        position: relative;
        margin: auto;
        width: 20%;
        height: 20%;
    }
    .logo img{
        width: 50%;
        height: 50%;
    }
    .topbar{
        display: none;
        position: absolute;
        font-size: 5vw;
        background-color:rgba(0,0,0,0);
        min-width: 300px;
        padding: 10px;
        z-index: 1;
    }
    .topbar a{
        color: lightgoldenrodyellow;
    }
    .header:hover .topbar{
        display: inline-block;
        transition: 1s;
    }
    .header:hover .logo{
        opacity: 0.0001;
        transition: .3s;
    }
    .header:hover .logoselect{
        opacity: 0.00001;
        transition: .3s;
    }
    .main-bg img{
        opacity: 1;     
    }
    .main-bg{
        background-color:rgba(232, 136, 252, .1);
    }
    .title{
        left: 40px;
        right: 50px;
        top: 71%;
        font-size: 5vw;
    }
    .title h1{
        font-size: 10vw;
        color: white;
    }
    .title h2 {
        color: white;
    }
    .title p{
        color: white;
    }
    #image-container{
        display: none;
    }


}
    