* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Helvetica, sans-serif;
}
/* 
.container{
    position: relative;
    text-align: center;
} */

body{
    min-height:100vh;
    background-color: black;
    background: url(/other_resources/stlukes.jpg) no-repeat;
    background-size: cover;
    background-position: center;
}

.header{
    position:fixed;
    top:0;
    left:0;
    width:100%;
    padding: 20px 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 100;
}

.logo{
    font-size: 32px;
    color: white;
    text-decoration: none;
    font-weight: 700;
}

.topbar a{
    position:sticky;
    font-size: 18px;
    color: white;
    font-weight: 200;
    text-decoration: none;
    margin-left: 40px;
    
}

.topbar a::before{
    content: '';
    position: absolute;
    top: 100%;
    left:0;
    width:0%;
    height:2px;
    background-color: white;
    transition: .3s;
}

.topbar a:hover::before{
    width:100%
}

h1{
    position: absolute;
    top:250px;
    left: 200px;
    font-weight: 500px;
}

.bottom{
    position:relative;
    bottom:0;
    left:0;
    width:100%;
    padding: 20px 100px;
    display: inline;
    margin-right: 20px;
    justify-content: space-between;
    align-items: center;
    z-index: 100;
}

.previewbuttons a{
    font-size: 18px;
    color: white;
    font-weight: 200;
    text-decoration: none;
    margin-left: 40px;
}

.bottom img{
    width: 3in;
    height: 3in;
    position: fixed;
    bottom: 0;
    margin-right: 20px;
    ;
}

