@font-face {
    font-family: 'Handil Pro';
    src: url('/other_resources/fonts/subset-HandilPro-Medium.woff2') format('woff2'),
        url('/other_resources/fonts/subset-HandilPro-Medium.woff') format('woff');
    font-weight: 500;
    font-style: normal;
}

@font-face {
    font-family: 'VAGABONDED';
    src: url('/other_resources/fonts/subset-VAGABONDED-Bold.woff2') format('woff2'),
        url('/other_resources/fonts/subset-VAGABONDED-Bold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'VAGABONDED ExtBd';
    src: url('/other_resources/fonts/subset-VAGABONDED-ExtraBold.woff2') format('woff2'),
        url('/other_resources/fonts/subset-VAGABONDED-ExtraBold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'Phlatt Grotesk';
    src: url('/other_resources/fonts/subset-PhlattGrotesk-Regular.woff2') format('woff2'),
        url('/other_resources/fonts/subset-PhlattGrotesk-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
  

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


body{
    min-height:100vh;
    background-color: black;
    background-size: cover;
    background-position: center;
    overflow: hidden;
}

.main-bg{
    position: fixed;
    top:0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1;

}

.main-bg img{
    width:100%;
    height: 100%;
    object-fit: cover;
}

.title{
    position: absolute;
    top: 250px;
    bottom: 50%;
    left: 100px;
}

.title h1{
    margin-bottom: 5px;
    font-family: 'VAGABONDED ExtBd';
    color: white;
    font-size: 50px;
}

.title h2{
    margin-bottom: 5px;
    font-family: 'VAGABONDED', sans-serif;
    color: white;
    font-size: 20px;
}

.title p{
    font-family: 'Phlatt Grotesk', sans-serif;
    color: white;
    font-size: 15pxpx;
}

.header{
    position:fixed;
    top:0;
    left:0;
    width:100%;
    padding: 20px 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 100;
    background-color: #c4c4c4;
   
}

.logo{
    font-size: 32px;
    color: rgb(0, 0, 0);
    text-decoration: none;
    font-weight: 700;
}

.topbar a{
    position:sticky;
    font-size: 18px;
    color: rgb(0, 0, 0);
    font-weight: 200;
    text-decoration: none;
    margin-left: 40px;
    
}

.topbar a::before{
    content: '';
    position: absolute;
    top: 100%;
    left:0;
    width:0%;
    height:2px;
    background-color: #FF4200;
    transition: .3s;
}

.topbar a:hover::before{
    width:100%
}


.bottom{
    position:relative;
    bottom:0;
    left:0;
    width:100%;
    padding: 20px 100px;
    display: inline;
    margin-right: 20px;
    justify-content: space-between;
    align-items: center;
    z-index: 100;
}

#image-container {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    display: flex;
    justify-content: center;
    background-color: #c4c4c4;
    padding: 0px;
}

#image-container img {
    width: 200px; 
    height: 100px;
    margin: 0px;

}

.image-title{
    position: relative;
    margin: 0px, 10px;
    cursor: pointer;
}

.img-txt{
    width:200px;
    height: 100px;
    top: 0;
    left: 0;
    position: absolute;
    background: rgba(0,0,0,0.6);
    display: flex;
    justify-content: center;
    align-items: center;
    opacity: 0;
    transition: 0.3s;
}

.img-txt p {
    font-family: "Phlatt", sans-serif;
    font-size: 15px;
    color: #FF4200;
}

.img-txt:hover{
    opacity: 1;
}

    